<div class="widget tag">
<h3 class="title"><%= __('links') %></h3>
<ul class="entry"> <!--下面是每次增加和修改友情链接的地方-->
<li><a href="http://shensitong.github.io/" title="TongShensi's Blog">TongShensi</a></li>
</ul>
</div>