<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
	  <li><a href="http://xiaoningliu.com" title="LiuXiaoning's Blog">刘晓宁's Blog</a></li>
	  <li><a href="http://shensitong.github.io/" title="TongShensi's Blog">TongShensi</a></li>
	  <li><a href="http://imcyz.me/" title="XueBa's Blog">学霸's Blog</a></li>
    </ul>
</div>